@use "../abstracts/" as *;

.card-link {
	$img-height: 250px;
	$img-width: 165px;
	$duration: 150ms;
	$anim-type: ease-in-out;

	&:hover {
		.content-layer {
			opacity: 1;
		}

		.anime-card-title {
			color: color(accent, 300);
		}

		.icon {
			scale: 1;
		}
	}

	.card {
		position: relative;
		cursor: pointer;
	}

	& :where(.card-img, .content-layer) {
		height: $img-height;
		width: $img-width;
		object-fit: cover;
		border-radius: 10px;
	}

	.content-layer {
		position: absolute;
		inset: 0;
		display: grid;
		place-content: center;
		background-color: rgba(44, 44, 44, 0.85);
		opacity: 0;
		transition: opacity $duration $anim-type;
	}

	.icon {
		color: color(accent, 300);
		scale: 0;
		transition: scale $duration $anim-type;
	}

	.anime-card-title {
		font-size: calc(font-size(100) * 0.8);
		width: 15ch;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		// other content breaking method
		//display: -webkit-box;
		//-webkit-line-clamp: 3;
		//-webkit-box-orient: vertical;
		padding-top: 0.5rem;
		transition: color $duration $anim-type;
	}
}

.scroll-card {
	scroll-snap-align: start;
}
