@use "../abstracts/" as *;

.card {
	$img-height: 250px;
	$img-width: 165px;
	$duration: 150ms;
	$anim-type: ease-in-out;

	position: relative;
	cursor: pointer;

	& :where(.card-img, .content-layer) {
		height: $img-height;
		width: $img-width;
		object-fit: cover;
		border-radius: 10px;
	}

	.content-layer {
		position: absolute;
		inset: 0;
		display: grid;
		place-content: center;
		background-color: rgba(44, 44, 44, 0.85);
		opacity: 0;
		transition: opacity $duration $anim-type;
	}

	&:hover :where(.content-layer) {
		opacity: 100%;
	}

	.icon {
		color: color(accent, 300);
		scale: 0;
		transition: scale $duration $anim-type;
	}

	&:hover :where(.icon) {
		scale: 1;
	}

	& > figcaption {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		padding-top: 0.5rem;
		transition: color $duration $anim-type;
	}

	&:hover > figcaption {
		color: color(accent, 300);
	}
}

.scroll-card {
	scroll-snap-align: start;
}
