.container-flex-col {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	width: min(100% - 3rem, 65ch);
}

.container-flex-row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	width: min(100% - 3rem, 65ch);
}

.space-between {
	justify-content: space-between;
}
