/***************************************
---------------VARIABLES----------------
***************************************/

:root {
	--color-1: rgb(56, 182, 255);
	--color-1-opacity: rgba(56, 182, 255, 0.5);
	--color-light: #fafafa;
	--color-light-bg: #e7e9fb;
	--color-dark-bg: #0a1625;

	--radius-0: 0;
	--radius-1: 5px;
}

/***************************************
	---------------UTILITIES----------------
	***************************************/

.gradient-text {
	background: #0f80ee;
	background: -webkit-linear-gradient(
		45deg,
		#91eaf1 0%,
		#0f80ee 50%,
		#681688 100%
	);
	background: linear-gradient(45deg, #39f2ff, #8664f7);
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
}

.cont-dark {
	background: rgb(0, 45, 89);
	background: radial-gradient(
		circle at top right,
		rgba(0, 45, 89, 1) -9%,
		rgba(0, 40, 79, 1) 0%,
		rgba(1, 23, 45, 1) 54%,
		rgba(0, 0, 0, 1) 100%
	);
	color: var(--color-light);
}

.dynamic-border-sm {
	border-radius: var(--radius-0);
}

.dynamic-border-md {
	border-radius: var(--radius-0);
}

.slide-title {
	cursor: pointer;
}

.slide-title:hover > .arrow {
	transform: translateX(3px);
}

.arrow {
	transition: transform 300ms ease;
}

.refresh {
	opacity: 0;
}

.actions-disabled {
	pointer-events: none;
	user-select: none;
}

/**********************************
	---------------BASE----------------
	**********************************/

body {
	background-color: var(--color-light-bg);
	min-width: 300px;
}

header,
main {
	opacity: 100%;
	transition: opacity 500ms ease;
}

/************************************
	---------------NAVBAR----------------
	************************************/

.navbar {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.navbar-brand {
	cursor: pointer;
}

.burger {
	border: none;
}

.burger:is(:focus, :focus-visible, :focus-within) {
	border: none;
	outline: none;
	box-shadow: none;
}

.burger-icon {
	color: #38b6ff;
}

.nav-item:first-child {
	border-top: 2px solid var(--color-1-opacity);
}

.nav-link {
	color: var(--color-light);
}

.nav-link:hover {
	color: var(--color-light);
}

/************************************
	---------------HEADER----------------
	************************************/

header {
	padding-top: 5.3rem;
}

/***************************************
	---------------TABLET MQ----------------
	***************************************/

@media (min-width: 768px) {
	/***************************************
    ---------------UTILITIES----------------
	***************************************/

	.dynamic-border-md {
		border-radius: var(--radius-1);
	}

	/************************************
	---------------NAVBAR----------------
	************************************/

	.floating-navbar {
		top: 2rem;
		left: 50%;
		transform: translateX(-50%);
		width: 85%;
		max-width: 750px;
	}

	.nav-item:first-child {
		border-top: none;
	}

	.nav-link:hover {
		color: var(--color-1);
	}

	/************************************
	---------------HEADER----------------
	************************************/

	header {
		padding-top: 9.5rem;
	}
}
