:root {
	--color-1: rgb(56, 182, 255);
	--color-1-opacity: rgba(56, 182, 255, 0.5);
	--color-light: #fafafa;
}

.burger {
	border: none;
}

.burger:is(:focus, :focus-visible, :focus-within) {
	border: none;
	outline: none;
	box-shadow: none;
}

.nav-item:first-child {
	border-top: 2px solid var(--color-1-opacity);
}

.nav-link {
	color: var(--color-light);
}

.nav-link:hover {
	color: var(--color-light);
}

@media (min-width: 576px) {
	.floating-navbar {
		position: fixed;
		top: 1.25rem;
		left: 50%;
		transform: translateX(-50%);
		width: 85%;
		max-width: 750px;
		border-radius: 5px;
	}

	.nav-item:first-child {
		border-top: none;
	}

	.nav-link:hover {
		color: var(--color-1);
	}
}
